<header class="w-full flex justify-between items-center px-10 py-5 h-20">
    <div>
        <h3 class="text-4xl lg:text-5xl font-bold text-primary">OnlyChat</h3>
    </div>
    <nav class="hidden md:inline-block">
        <ul class="flex gap-4 ml-4 items-center">
            <div>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" placeholder="Search friends" pSize="small" />
                </p-iconfield>
            </div>
            @if(theme === 'dark-mode'){
                <p-button icon="pi pi-sun" (click)="toggleTheme()" severity="secondary" />
            } @else {
                <p-button icon="pi pi-moon" (click)="toggleTheme()" severity="secondary" />
            }
            <p-button icon="pi pi-cog" severity="secondary" />
            <p-button icon="pi pi-sign-out" severity="secondary" />
        </ul>
    </nav>
    <nav class="md:hidden">
        <ul class="flex gap-4 ml-4 items-center">
            <p-button icon="pi pi-bars" severity="secondary" (click)="toggleMobileMenu()" />
        </ul>
    </nav>
</header>

<p-card [styleClass]="'absolute left-0 h-screen w-screen md:hidden transition-all duration-300 ease-in-out z-10 '+ (mobileMenuVisible ? 'top-0' : '-top-full')">
    <div class="flex justify-between py-3">
        <h3 class="text-4xl font-bold text-primary">OnlyChat</h3>
        <p-button icon="pi pi-times" severity="secondary" styleClass="p-button-rounded" (click)="toggleMobileMenu()" />
    </div>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 gap-4 p-5 w-full">
        <div class="flex flex-col justify-center items-center gap-4 w-full">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" placeholder="Search" pSize="small" />
            </p-iconfield>

            @if(theme === 'dark-mode'){
                <p-button icon="pi pi-sun" label="Theme" fluid severity="secondary" class="w-full" variant="text" (click)="toggleTheme()" />
            } @else {
                <p-button icon="pi pi-moon" label="Theme" fluid severity="secondary" class="w-full" variant="text" (click)="toggleTheme()" />
            }
            <p-button icon="pi pi-cog" label="Configuration" fluid severity="secondary" class="w-full" variant="text" />
            <p-button icon="pi pi-sign-out" label="Logout" fluid severity="secondary" class="w-full" variant="text" />
        </div>
    </div>
</p-card>