<h2 class="text-4xl md:text-5xl font-bold mb-10 text-primary text-center ">
    Reset Password
</h2>
<section class="w-full px-3 md:w-1/4">

<p-card styleClass="shadow-xl overflow-hidden">

    <form class="space-y-5" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="px-5">
            <label for="password" class="block font-medium">Password:</label>
            <p-password id="password" size="small" formControlName="password" styleClass="w-full mt-1" [fluid]="true"
                [toggleMask]="true" />
            @for(validation of resetPasswordFormValidationMessages.password; track
            $index){
            @if(resetPasswordForm.get('password')?.hasError(validation.type) &&
            (resetPasswordForm.get('password')?.dirty ||
            resetPasswordForm.get('password')?.touched)){
            <p-message size="small" severity="error" variant="simple" text="{{ validation.message }}"></p-message>
            } }
        </div>

        <div class="px-5">
            <label for="comfirmPassword" class="block font-medium">Confirm Password:</label>
            <p-password id="confirmPassword" size="small" formControlName="confirmPassword" styleClass="w-full mt-1"
                [fluid]="true" [toggleMask]="true" [feedback]="false" />
            @for(validation of resetPasswordFormValidationMessages.confirmPassword; track
            $index){
            @if(resetPasswordForm.get('confirmPassword')?.hasError(validation.type) &&
            (resetPasswordForm.get('confirmPassword')?.dirty ||
            resetPasswordForm.get('confirmPassword')?.touched)){
            <p-message size="small" severity="error" variant="simple" text="{{ validation.message }}"></p-message>
            } }
        </div>

        <div class="px-5">
            <p-button type="submit" [loading]="loadingResetPassword()" [disabled]="loadingResetPassword()"
                label="Reset Password"
                styleClass="w-full p-button-raised p-button-primary my-3"></p-button>
        </div>
    </form>
</p-card>
</section>